<%=render partial: "game-detail", locals: {game: @game}%>

<p class="reviews-title">Create a new review!</p>
<%=render partial: "/reviews/review_form"%>
<h2 class="reviews-title"><%=@game.reviews.size%> Reviews:</h2>
<div class="game-reviews">
  <%=render partial: "game-reviews", locals: {reviews: @game.reviews}%>
</div>