<%=render partial: "game-detail", locals: {game: @game}%>

<h2 class="reviews-count"><%=@game.reviews.size%> Reviews:</h2>
<div class="game-reviews">
<%=render partial: "game-reviews", locals: {reviews: @game.reviews}%>
</div>