.review-button {
  font-size: 16px;
  font-family: inherit;
  color: white;
  font-weight: bold;
  width: fit-content;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px;
  align-self: flex-end;
}
